In [1]:
%matplotlib inline
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qaanaaq,GL,2020-11-02 02:04:54,77.48,-69.36,2.79,74,0,6.31
1,1,Lebu,CL,2020-11-02 02:04:54,-37.62,-73.65,52.77,95,74,8.37
2,2,Torbay,CA,2020-11-02 02:04:22,47.67,-52.73,37.99,74,20,12.75
3,3,Yar-Sale,RU,2020-11-02 02:04:55,66.83,70.83,25.54,97,79,15.08
4,4,Amuntai,ID,2020-11-02 02:04:55,-2.42,115.25,76.93,92,100,1.28

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Format the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
 # Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Format the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heat map of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Amuntai,ID,2020-11-02 02:04:55,-2.42,115.25,76.93,92,100,1.28
5,5,Bairiki,KI,2020-11-02 02:04:55,1.33,172.98,87.80,66,40,14.99
9,9,Mayumba,GA,2020-11-02 02:04:56,-3.43,10.66,76.87,89,100,3.18
10,10,Bethlehem,BR,2020-11-02 02:03:40,-1.46,-48.50,78.80,88,0,6.93
12,12,Kulhudhuffushi,MV,2020-11-02 02:04:57,6.62,73.07,82.76,67,17,5.59
17,17,Sola,VU,2020-11-02 02:01:22,-13.88,167.55,81.09,83,41,17.52
19,19,Hobart,AU,2020-11-02 02:02:25,-42.88,147.33,77.00,46,0,6.93
22,22,Adre,TD,2020-11-02 02:04:58,13.47,22.20,77.72,28,99,17.47
24,24,Kapaa,US,2020-11-02 02:04:59,22.08,-159.32,80.60,78,75,11.41
29,29,Bengkulu,ID,2020-11-02 02:04:40,-3.80,102.27,79.47,81,100,1.07

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Amuntai,ID,2020-11-02 02:04:55,-2.42,115.25,76.93,92,100,1.28
5,5,Bairiki,KI,2020-11-02 02:04:55,1.33,172.98,87.80,66,40,14.99
9,9,Mayumba,GA,2020-11-02 02:04:56,-3.43,10.66,76.87,89,100,3.18
10,10,Bethlehem,BR,2020-11-02 02:03:40,-1.46,-48.50,78.80,88,0,6.93
12,12,Kulhudhuffushi,MV,2020-11-02 02:04:57,6.62,73.07,82.76,67,17,5.59
...,...,...,...,...,...,...,...,...,...,...
570,570,Isangel,VU,2020-11-02 02:06:46,-19.55,169.27,86.00,66,75,11.41
573,573,Puri,IN,2020-11-02 02:06:46,19.80,85.85,80.60,83,36,4.70
575,575,Matara,LK,2020-11-02 02:06:47,5.95,80.54,80.20,76,80,5.41
577,577,Balikpapan,ID,2020-11-02 02:06:47,-1.27,116.83,82.40,83,40,4.70
581,581,Mormugao,IN,2020-11-02 02:06:48,15.40,73.80,78.80,100,40,2.24

In [14]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
4          Amuntai      ID     76.93  -2.42  115.25
5          Bairiki      KI     87.80   1.33  172.98
9          Mayumba      GA     76.87  -3.43   10.66
10       Bethlehem      BR     78.80  -1.46  -48.50
12  Kulhudhuffushi      MV     82.76   6.62   73.07
17            Sola      VU     81.09 -13.88  167.55
19          Hobart      AU     77.00 -42.88  147.33
22            Adre      TD     77.72  13.47   22.20
24           Kapaa      US     80.60  22.08 -159.32
29        Bengkulu      ID     79.47  -3.80  102.27

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [18]:
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
4          Amuntai      ID     76.93  -2.42  115.25
5          Bairiki      KI     87.80   1.33  172.98
9          Mayumba      GA     76.87  -3.43   10.66
10       Bethlehem      BR     78.80  -1.46  -48.50
12  Kulhudhuffushi      MV     82.76   6.62   73.07
17            Sola      VU     81.09 -13.88  167.55
19          Hobart      AU     77.00 -42.88  147.33
22            Adre      TD     77.72  13.47   22.20
24           Kapaa      US     80.60  22.08 -159.32
29        Bengkulu      ID     79.47  -3.80  102.27

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# info_box_template = """
# <dl>
# <dt>Name</dt><dd>{column1}</dd>
# <dt>Another name</dt><dd>{column2}</dd>
# </dl>
# """

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))